<br>
<form action="/celebrities/addCeleb" method="post"> 
    <label for="title-input">Name</label>
    <input type="text" name="newName" id="name-input">

    <label for="genre-input">Occupation</label>
    <input type="text" name="newOccupation" id="occupation-input">

    <label for="plot-input">CatchPhrase</label>
    <input type="text" name="newCatchPhrase" id="plot-input">

    <button type="submit">Add celebrity</button>

</form>
