<a href="/movies/create">Create a new movie entry</a>

<ul>
   {{#each movies}}
   <li>
       <a href="/movies/{{this._id}}">{{this.title}}</a>
       <form action="/movies/{{this._id}}/delete" method="post" >
           <button type="submit"> Delete </button>
       </form>
   </li>
   {{/each}}
</ul>